<h1><%= @list.name %></h1>

<% @list.movies.each do |movie| %>
  <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
  <%= @movie.title %>
  <%= @movie.rating %>
  <%= @movie.overview %>
  <%= @bookmark.comment %>
<% end %>
